@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  background-color: #fae1dd;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

.Title {
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  font-weight: 500;
 }

.containerbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fae1dd;
}

.container {
  margin: 0 auto;
}

.year-of-dating {
  position: relative;
  top: 50px;
  cursor: pointer;
  animation: up 3s linear infinite;
}

.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f08080;
}

.envelope:before {
  background-color: #f08080;
  content: "";
  position: absolute;
  width: 212px;
  height: 212px;
  transform: rotate(45deg);
  top: -105px;
  left: 44px;
  border-radius: 30px 0 0 0;
}

.card {
  position: absolute;
  background-color: #eae2b7;
  width: 270px;
  height: 170px;
  top: 5px;
  left: 15px;
  box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.4);
}

.card:before {
  content: "";
  position: absolute;
  border: 3px solid #003049;
  border-style: dotted;
  width: 240px;
  height: 140px;
  left: 12px;
  top: 12px;
}

.text {
  position: absolute;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 40px;
  text-align: center;
  line-height: 25px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #003049;
}

.heart {
  background-color: #d62828;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 110px;
  left: 105px;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #d62828;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}

.front {
  position: absolute;
  border-right: 180px solid #f4978e;
  border-top: 95px solid transparent;
  border-bottom: 100px solid transparent;
  left: 120px;
  top: 5px;
  width: 0;
  height: 0;
  z-index: 10;
}

.front:before {
  position: absolute;
  content: "";
  border-left: 300px solid #f8ad9d;
  border-top: 195px solid transparent;
  left: -120px;
  top: -95px;
  width: 0;
  height: 0;
}

@keyframes up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.85);
  }
}

@media (max-height: 751px) {
  .year-of-dating {
    top: 30px;
  }
}

@media (max-height: 600px) {
  .year-of-dating {
    top: 0px;
  }
}

/* Estilo para o contêiner de mídia */
.media-container {
  width: 100%;
  max-width: 600px; /* Define uma largura máxima opcional */
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 50px;
  border-radius: 30px;
}

/* Estilo para o contêiner de fotos */
.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Estilo para as fotos responsivas */
.responsive-photo {
  width: 100%;
  height: auto;
  margin: 10px;
  border: 10px solid #f09a9a; /* Cor da borda */
  box-shadow: 0 4px 8px rgba(61, 60, 60, 0.4); /* Sombra para o efeito de profundidade */
  border-radius: 10px; /* Canto arredondado opcional */
}

/* Estilo para o contêiner de vídeo */
.video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para o vídeo responsivo */
.responsive-video {
   width: 100%;
  height: auto;
  margin: 10px;
  border: 10px solid #f09a9a; /* Cor da borda */
  box-shadow: 0 4px 8px rgba(61, 60, 60, 0.4); /* Sombra para o efeito de profundidade */
  border-radius: 10px; /* Canto arredondado opcional */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .media-container {
    max-width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .responsive-photo, .responsive-video {
    margin: 5px 0;
  }
}
